.box{
	width:700px;
	margin:0 auto;
}

@media (max-width:960px){
	.box{
		width:700px;
	}
}
@media (max-width:720px){
	.box{
		width:500px;
	}
}
@media (max-width:540px){
	.box{
		width:300px;
	}
}